<h1>Article View</h1>

<h2><%= @article.title %></h2>
	<p><%= @article.body %></p>

<p>
  <%= link_to 'Edit Article', edit_user_article_path(@article.user_id, @article.id) %>
  <%= link_to 'Add a Comment', new_user_article_comment_path(@article.user_id, @article.id) %>
</p>

<h4>Comments</h4>
<% @article.comments.each do |comment| %><br>
	<%= comment.body %>
<% end %>
